#editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.ace_tooltip {
    padding: 10px;
    background-color: #333d47;
    color: #c1ccd5;
    width: 500px;
    display: block;
    height: auto;
    white-space: initial;
}

.ace_tooltip hr {
    margin: 10px 0;
}

.ace_tooltip .function-doc-name {
    font-size: 18px;
}
